html {
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    padding-top: 1%;
    width: 40%;
    height: 100%;
    border: 1px black solid;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 100%;
}
.name-container {
    font-size: 1.75em;
    text-align: center;
}
.aboutme-container {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
   text-align: center;
}

.social-container {
    width: 100%;
    height: 10px;
}
.item {
    width: 50px;
    height: 50px;
    padding-left: 2%;
    float: left;
}
